<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyBlog Admin</title>
        <meta charset='utf-8' />
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>
    <body>
        <header class="container-fluid">
            <div id="nav-header">
                <div class=row">
                    <div class="header-bar container-fluid">
                        <h2 class="text-center text-primary">MyBlog Admin</h2>
                    </div>
                    <hr />
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="col-sm-3">
              <nav class="navbar navbar-default">
                <ul class="nav">
                  <li class="nav nav-item text-center"><a href="/">Home</a></li>
                  <li class="nav nav-item text-center"><a href="/posts">Posts</a></li>
                  <li class="nav nav-item text-center"><a href="/posts/new">New Post</a></li>
                  <li class="nav nav-item text-center">
                    <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-9">
                <%= render @view_module, @view_template, assigns %>
            </div>
        </div>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>

